<section class="footer-section py-5 text-center" id="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-section-about">
                    <h3 class="text-muted hvr-backward">عن شركة تاتكس</h3>
                    <p class="text-muted mt-1 hvr-backward">شركة تاتكس هي شركة تقوم بتقديم أعمال خدمات كثيرة للمجتمع لكي تسهل عليه الحياة. هي شركة تقوم بعمل تطبيقات خاصة لها وتقوم بعمل تطبيقات للمستخدمين بجودة عالية لذلك ثق في تاتسك. ولمعرفة المزيد عن شركة تاتكس قم بزيادة الرابط التالي <a href="/about" target="_blank">مزيد عنا</a></p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 mb-2">
                <div class="footer-follow-text">
                    <h3 class="text-muted">تابعنا على التالي</h3>
                </div>
            </div>
            <div class="col-12">
               <div class="footer-contact d-flex justify-content-center">
                    <div class="footer-info-contact hvr-pulse-shrink"  style="direction: ltr;" >
                        <i class="flaticon-phone-call text-muted"></i>
                        <h3 class="text-muted">التليفون</h3>
                        <span><a href="tel:+966 547130120" class="text-muted mt-1">+966 547130120</a></span>
                    </div>
                    <div class="footer-info-contact mr-4 hvr-pulse-shrink">
                        <i class="flaticon-envelope text-muted"></i>
                        <h3 class="text-muted">البريد</h3>
                        <span><a href="mailto:tatx@info.com" class="text-muted mt-1">tatx@info.com</a></span>
                    </div>
                    <div class="footer-info-contact mr-4 hvr-pulse-shrink">
                        <i class="flaticon-pin text-muted"></i>
                        <h3 class="text-muted">العنوان</h3>
                        <span class="text-muted">دمام - الرياض</span>
                    </div>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 wow fadeInRight">
                    <p class="hvr-backward">
                        <i class="far fa-copyright"></i> 
                        جميع الحقوق محفوظة لدى 
                        <a style="color: #EC174C" href="/">
                            تاتكس
                        </a> 2020
                    </p>
                </div>

                <div class="col-lg-6 col-md-6 wow fadeInLeft">
                    <ul class="text-center text-md-left">
                        <li>
                            <a href="/terms" target="_blank">الاستخدام والشروط</a>
                        </li>
                        <li>
                            <a href="/privacy" target="_blank">سياسة الخصوصية</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>