<section class="footer">
    <div class="container">
        <div>
            <h3>معلومات</h3>
            <ul>
                <li><a href="/constant">الاخبار</a></li>
                <li><a href="/constant">القضايا الهامة</a></li>
                <li><a href="/constant">خطابات المملكة في المحافل الدولية</a></li>
                <li><a href="/constant">المكتبة الصوتية والمرئية</a></li>
                <li><a href="/constant">الأحداث والفعاليات</a></li>
            </ul>
        </div>
        <div>
            <h3>خدمات الوزارة</h3>
            <ul>
                <li><a href="/constant">منصة خدمات التأشيرات الإلكترونية</a></li>
                <li><a href="/constant">المساعدة للمواطنين السعوديين</a></li>
                <li><a href="/constant">تسجيل جواز السفر</a></li>
                <li><a href="/constant">خدمات تعليمات التصاديق</a></li>
            </ul>
        </div>
        <div>
            <h3>خريطة الموقع</h3>
            <ul>
                <li><a href="/constant">عناوين وهواتف الوزارة</a></li>
                <li><a href="/constant">فروع الوزارة بالمملكة</a></li>
                <li><a href="/constant">الإقتراحات والشكاوي</a></li>
                <li><a href="/constant">سياسة الخصوصية</a></li>
                <li><a href="/constant">التوظيف</a></li>
                <li><a href="/constant">المناقصات</a></li>
            </ul>
        </div>
        <div class="logo-footer">
            <img src="/assets/Images/mofa_footer_logo.png" alt="Saudia">
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="footer-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fab fa-linkedin-in"></i>
            <i class="fab fa-youtube"></i>
            <span>تابعونا</span>
        </div>
        <div class="footer-text">
            جميع الحقوق محفوظة 1426 - 1442هـ | 2005 – 2020 م وزارة خارجية المملكة العربية السعودية
        </div>
    </div>
</footer>
