<div class="header-background">
    <!-- Header Top-->
    <div class="header-top">
        <div class="container">
            <div class="icons">
                <ul>
                    <li class="lang"><a href="/constant">English</a></li>
                    <li><a href="/constant">الدعم الفني <i class="fas fas fa-phone-alt"></i></a></li>
                    <li><a href="/constant">مساعدة <i class="far fa-life-ring"></i></a></li>
                    <li><a href="/constant"> شارك برأيك <i class="far fa-comments"></i></a></li>

                </ul>
            </div>
            <div class="date"><span></span> التوقيت المحلي </div>
        </div>
    </div>
    <!-- Nav Bar-->
    <nav>
        <div class="container">
            <div class="links">
                <ul>
                    <li><a href="/constant">اتصل بنا</a></li>
                    <li><a href="/constant">معلومات</a></li>
                    <li><a href="/constant">البعثات الدبلوماسية</a></li>
                    <li><a href="/constant">خدمات الوزارة</a></li>
                    <li><a href="/constant">السياسة الخارجية للمملكة</a></li>
                    <li><a href="/constant">وزارة الخارجية</a></li>
                    <li><a href="/" class="active">الرئيسية</a></li>
                </ul>
            </div>
            <div class="logo">
                <img src="/assets/Images/MOFA_logo.png" alt="">
            </div>
        </div>
    </nav>
    <!-- Nav Bar-->
    <!-- Header text -->
    <div class="header-text">
        منصة<br> خدمات التأشيرات الإلكترونية <br>
        <a href="/">
            <span><i class="fas fa-chevron-left"></i> الرئيسية </span>
        </a>
    </div>
    <!-- Header text -->
</div>