<!doctype html>
<html lang="ar">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <!-- Owl Default CSS -->
    <link rel="stylesheet" href="/assets/css/owl.default.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- Owl Magnific CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- Hover CSS -->
    <link rel="stylesheet" href="/assets/css/hover.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="/assets/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- Image Light Box CSS -->
    <link rel="stylesheet" href="/assets/css/imagelightbox.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- Odometer CSS-->
    <link rel="stylesheet" href="/assets/css/odometer.css">
    <!-- fontAwesome CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- Select CSS -->
    <link rel="stylesheet" href="/assets/css/select.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>منصة خدمات التأشيرات الإلكترونية</title>

</head>

<body>
    <div class="header-background">
        <!-- Header Top-->
        <div class="header-top">
            <div class="container">
                <div class="icons">
                    <ul>
                        <li class="lang"><a href="/constant">English</a></li>
                        <li><a href="/constant">الدعم الفني <i class="fas fas fa-phone-alt"></i></a></li>
                        <li><a href="/constant">مساعدة <i class="far fa-life-ring"></i></a></li>
                        <li><a href="/constant"> شارك برأيك <i class="far fa-comments"></i></a></li>

                    </ul>
                </div>
                <div class="date"><span></span> التوقيت المحلي </div>
            </div>
        </div>
        <!-- Nav Bar-->
        <nav>
            <div class="container">
                <div class="links">
                    <ul>
                        <li><a href="/constant">اتصل بنا</a></li>
                        <li><a href="/constant">معلومات</a></li>
                        <li><a href="/constant">البعثات الدبلوماسية</a></li>
                        <li><a href="/constant">خدمات الوزارة</a></li>
                        <li><a href="/constant">السياسة الخارجية للمملكة</a></li>
                        <li><a href="/constant">وزارة الخارجية</a></li>
                        <li><a href="/" class="active">الرئيسية</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <img src="/assets/Images/MOFA_logo.png" alt="">
                </div>
            </div>
        </nav>
        <div class="header-text">
            منصة<br> خدمات التأشيرات الإلكترونية <br>
            <a href="/">
                <span><i class="fas fa-chevron-left"></i> الرئيسية </span>
            </a>
        </div>
    </div>