<div class="tatx-loading">
    <div class="tatx-loading-content">
        <div class="tatx-logo text-center">
            <img class="animated pulse infinite" src="/assets/Images/MOFA_logo.png" title="tatx-logo" alt="tatx-logo"/>
        </div>
    </div>
</div>