<div class="tatx-loading">
    <div class="tatx-loading-content">
        <div class="tatx-logo text-center">
            <img class="animated pulse infinite" src="/assets/Images/Logo/logo.png" title="tatx-logo" alt="tatx-logo"/>
        </div>
        <h6 class="mt-2 animated pulse infinite">Always with you</h6>
    </div>
</div>