<%- contentFor('title') %>
منصة خدمات التأشيرات الإلكترونية - الرئيسية

<%- contentFor('HeaderCss') %>


<%- contentFor('body') %>
 <!-- Profile Content -->
 <div
 style="height: 200px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: #F2F2F2">
 <h3>هذه صفحة مؤقتة</h3>
</div>
<!-- Profile Content -->

<%- contentFor('FooterJs') %>
