<%- contentFor('title') %>
منصة خدمات التأشيرات الإلكترونية - المؤقتة

<%- contentFor('HeaderCss') %>

<%- contentFor('body') %>

  <!-- Agreement Content -->
  <section style="padding: 15px;">
    <h4>الموافقة على التعهد</h4>
    <p>تعهد بتدوين جميع بياناتي بالشكل المطلوب وتدوين بيانات المطلوب للزيارة من واقع جواز سفره،
        وأتعهد بتوفير السكن المناسب، ومغادرة الشخص المطلوب للزيارة قبل انتهاء مدة الإقامة المحددة في
        تأشيرة الدخول، وأن يكون طيلة مدة إقامته في المملكة خاضعاً للأنظمة والقوانين المرعية وأن
        الغرض من الطلب هو للزيارة فقط وليس للعمل أو أداء الحج، وأتحمل المسئولية إذا ثبت خلاف ذلك.
        كما أفوض وزارة الخارجية السعودية بالاطلاع على سجل بياناتي في المملكة.</p>
    <p class="mb-0"> <input id="acceptTerms" name="acceptTerms" type="checkbox"
            class="acceptTerms required" />
        <span>الموافقة على التعهد</span> </p>
</section>
<!-- Agreement Content -->

<!-- Notification -->
<div class="notificationSuccess text-white shadow-lg p-3"></div>
<div class="notificationError text-white shadow-lg p-3"></div>
<!-- Notification -->


<%- contentFor('FooterJs') %>
