<section class="footer-section py-5 text-center" id="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-section-about">
                    <h3 class="text-muted hvr-forward">About Tatx Company</h3>
                    <p class="text-muted mt-1 hvr-forward">TATX is an IT Company that aims to provide services that help people in all fields and it makes the community easy. TATX is an IT Company that aims to provide services that help people in all fields and it makes the community easy</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 mb-2">
                <div class="footer-follow-text">
                    <h3 class="text-muted">Follow us on the following</h3>
                </div>
            </div>
            <div class="col-12">
               <div class="footer-contact d-flex justify-content-center">
                    <div class="footer-info-contact hvr-pulse-shrink">
                        <i class="flaticon-phone-call text-muted"></i>
                        <h3 class="text-muted">Phone</h3>
                        <span><a href="tel:+966 547130120" class="text-muted">+966 547130120</a></span>
                    </div>
                    <div class="footer-info-contact ml-4 hvr-pulse-shrink">
                        <i class="flaticon-envelope text-muted"></i>
                        <h3 class="text-muted">Email</h3>
                        <span><a href="mailto:tatx@info.com" class="text-muted">tatx@info.com</a></span>
                    </div>
                    <div class="footer-info-contact ml-4 hvr-pulse-shrink">
                        <i class="flaticon-pin text-muted"></i>
                        <h3 class="text-muted">Address</h3>
                        <span class="text-muted">Dammam, Gulf Road</span>
                    </div>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 wow fadeInLeft">
                    <p class="hvr-forward">
                        <i class="far fa-copyright"></i> 
                        All Rights Reserved by 
                        <a style="color: #EC174C" href="/">
                            TATX
                        </a> 2020
                    </p>
                </div>

                <div class="col-lg-6 col-md-6  wow fadeInRight">
                    <ul>
                        <li>
                            <a href="/terms" target="_blank">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="/privacy" target="_blank">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>