<div class="openBox hvr-pop animated pulse infinite" data-toggle="tooltip" data-placement="top" title="Live Chat Support"><i class="far fa-comment-dots"></i></div>
<div class="chatArea">
    <h5 class="chatArea-header d-flex align-items-center justify-content-between">
      <span>Chat with Admin <i class="far fa-comments"></i> </span>
      <div class="between d-flex">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck" checked>
          <label class="custom-control-label" for="customCheck" style="font-size: 13px">Sound</label>
        </div>
        <div class="closeChatArea ml-2" id="closeChatArea" style="cursor: pointer; color: red;">
          <span style="font-size: 17px;"><i class="far fa-times-circle"></i></span>
        </div>
      </div>
     </h5>
    <div class="messages"></div>
    <div class="typing"></div>
    <div class="editor">
      <textarea class="inputMessage" aria-label="With textarea" placeholder="Type your message..."></textarea>
    </div>
</div>